<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" href="https://i.imgur.com/Q2PdQsR.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/TestConstructor/src/main/resources/templates/style.css">
    <meta charset="UTF-8">
    <title>Поиск теста</title>
    <style>
        #myInputFind {
        width: 100%;
        font-size: 16px;
        padding: 12px 45px 12px 12px;
        border: 5px solid #12067f;
        background-color: #ffffff;
        color: #12067f;
        font-size: 18px;
        }
    </style>
</head>
<body>
<div th:replace="header :: content"></div>
<div class = "forTable">
    <div class="shapka"  th:text="'Поиск тестов'"></div>
    <div class="shapka"  th:if="${tests.size()==0}" th:text="'Нет открытых'"></div>
    <input type="text" id="myInputFind" onkeyup="myFunctionFind()" placeholder="Поиск теста..">
    <table th:if="${tests.size()>0}">
        <thead>
        <tr id="thead">
            <th>Название</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${test.isPublish()}" th:each="test: ${tests}">

            <td ><a  th:text="${test.getName()}" style="color: black"th:href="@{/makeTest/{id}(id=${test.getId()})}"></a></td>
            <td th:text="${test.getDescription()}"></td>

        </tr>
        </tbody>
    </table>
</div>

<script>
function myFunctionFind() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInputFind");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  // Перебирайте все строки таблицы и скрывайте тех, кто не соответствует поисковому запросу
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

</body>
</html>