<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/TestConstructor/src/main/resources/templates/style.css">
    <meta charset="UTF-8">
</head>
<body>
<div id="header" th:fragment="content" >
    <header th:if="${!#authorization.expression('hasRole(''ROLE_USER'')||hasRole(''ROLE_ADMIN'')||hasRole(''ROLE_TESTER'')')}">
        <figure> <img src="https://i.imgur.com/Q2PdQsR.png" alt="Company logo"  width="50px" height="50px" ></figure>
        <div id="myTest1"> <a href="/">Тест Конструктор</a></div>
        <div class="reg"> <a href="/login">Вход</a></div>
        <div class="reg"> <a href="/register">Регистрация</a></div>
    </header>


    <header th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <figure> <img src="https://i.imgur.com/Q2PdQsR.png" alt="Company logo" width="50px" height="50px" ></figure>
        <div id="myTest2"> <a href="/">Тест Конструктор</a>
            <div class="underlinetxt">Пользователь</div></div>
        <div class="reg"> <a href="/">Тесты</a></div>
        <div class="reg"><a href="/find">Поиск</a></div>
        <div class="reg"><a href="/results">Мои результаты</a></div>
        <div class="reg"><a href="/profile">Профиль</a></div>
        <form class="form" th:action="@{/logout}" method="post">

            <div> <input class="exit" type="submit" value="Выйти"></div>
        </form>

    </header>

    <header th:if="${#authorization.expression('hasRole(''ROLE_TESTER'')')}">
        <figure> <img src="https://i.imgur.com/Q2PdQsR.png" alt="Company logo" width="50px" height="50px" ></figure>
        <div id="myTest3"> <a href="/">Тест Конструктор</a>
            <div class="underlinetxt">Тестировщик</div></div>
        <div class="reg"> <a href="/test/list">Мои тесты</a></div>
        <div class="reg"><a href="/find">Поиск</a></div>
        <div class="reg"><a href="/timer">Таймер</a></div>
        <div class="reg"><a href="/profile">Профиль</a></div>
        <form class="form" th:action="@{/logout}" method="post">

            <div> <input class="exit" type="submit" value="Выйти"></div>
        </form>

    </header>

    <header th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <figure> <img src="https://i.imgur.com/Q2PdQsR.png" alt="Company logo" width="50px" height="50px" ></figure>
        <div id="myTest4"> <a href="/">Тест Конструктор</a>
            <div class="underlinetxt">Администратор</div></div>
        <div class="reg"> <a href="/admin">Администрирование</a></div>
        <div class="reg"><a href="/profile">Профиль</a></div>
        <form class="form" th:action="@{/logout}" method="post">

            <div> <input class="exit" type="submit" value="Выйти"></div>
        </form>

    </header>
</div>



</body>
</html>