<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/TestConstructor/src/main/resources/static/style.css">
    <meta charset="UTF-8">
    <title>Тех. поддержка</title>
</head>
<body>
<div th:replace="header :: content"></div>
<div class="textR" >Тех. поддержка:
<img src="https://cdn-icons-png.flaticon.com/512/888/888853.png" alt="Gmail icon" width="65px" height="65px" >
 testconstructorrgr</div>
</body>
</html>