<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" href="https://i.imgur.com/Q2PdQsR.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <title>Тех. поддержка</title>
</head>
<body>
<div th:replace="header :: content"></div>
<div class="textR" >Тех. поддержка:
    <img src="https://cdn-icons-png.flaticon.com/512/888/888853.png" alt="Company logo" width="50px" height="50px" >
    testconstructorrgr</div>
</body>
</html>