<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="shortcut icon" href="https://i.imgur.com/Q2PdQsR.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="UTF-8">
  <title>Вход</title>
</head>
<body>
<div th:replace="header :: content"></div>
<div class="regina">
  <div class="textR">Авторизация</div>
  <div class="contentR">


    <form class="formReg" th:action="@{/login}" method="post">

      <div class="polya">

        <div class="inputR"><input type="text" name="username" placeholder="Логин" required></div>
        <div class="inputR">  <input type="password" name="password" placeholder="Пароль" required> </div>
        <div class="reginaBut"> <input type="submit" value="Войти"/></div>
        <div id="recover"> <a href="/recoverPass">Восстановить пароль</a></div>
      </div>

    </form>
    <div class="spanDiv">
      <span th:if="${param.error}">Данные введены неверно!</span>
      <span th:if="${param.logout}">Данные успешно введены!</span>
      <span th:if="${recover}" th:text="${recover}"></span>
    </div>
  </div>

</div>
</body>
</html>