<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="UTF-8">
  <title>Восстановление пароля</title>
</head>
<body>
<div th:replace="header :: content"></div>
<div class="regina">
  <div class="textR">Восстановление</div>
  <div class="contentR">


    <form class="formReg" th:action="@{/recoverPass}" method="post">

      <div class="polya">
        <div class="inputR"><input type="email" name="email" placeholder="Электронная почта" required></div>
        <div class="reginaBut"> <input type="submit" value="Восстановить"/></div>
      </div>

    </form>
    <div class="spanDiv">
      <span th:if="${rec}" th:text="${rec}"></span>
    </div>
  </div>

</div>
</body>
</html>