<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta charset="UTF-8">
</head>
<body>
<div th:replace="header :: content"></div>
<div  class="regina">
  <div class="textR">Новый пароль</div>
  <div class="contentR">


    <form th:if="!${error}" class="formReg" th:action="@{/recoverPassword/{activationCode}(activationCode=${code})}" method="post">

      <div class="polya">
        <div class="inputR"><input type="password" name="password" placeholder="Новый пароль" required></div>
        <div class="reginaBut"> <input type="submit" value="Изменить"/></div>
      </div>

    </form>
    <div class="spanDiv">
      <span th:if="${error}" th:text="${error}"></span>
    </div>
  </div>

</div>
</body>
</html>