<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" href="https://i.imgur.com/Q2PdQsR.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/TestConstructor/src/main/resources/static/style.css">
    <meta charset="UTF-8">
    <title>Результаты</title>
</head>
<body>
<div th:replace="header :: content"></div>
<div class="forTable">
    <div class="shapka"> Результаты </div>
    <div th:if="${results.size()==0}" class="shapka"> Нет результатов </div>
    <table th:if="${results.size()>0}">
        <thead>
        <tr id="thead"><th>Тест</th><th>Результат</th></tr>
        </thead>
        <tbody>
        <tr th:each="result : ${results}">
            <td th:text="${result.getTest().getName()}"></td>
            <td th:text="${result.getTrueAns()}+'/'+${result.getTest().getQuestion().size()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>